body {
  padding: 0;
  margin: 0;
  background-color: #611818;
  background-image: url("img/trees.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: 75%;
}

/* img {
  position: absolute;
  height: 100%;
  width: auto;
  margin-left: 25%;
} */
